<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Inventario</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-blue">
        <a href="" class="navbar-brand mx-auto">Articulos</a>
    </nav>

    <div class="container">

        
            <div class="col-md-6 mt-4  card">
                    <form action="/products" method="post">
                        <h4 class="card-title">Agregar Articulo</h4>
                        <div class="form-group">
                            <input type="text" name="descripcion" class="form-control" placeholder="descripcion"> 
                        </div>
                        <div class="form-group">
                            <input type="text" name="precio" class="form-control" placeholder="precio"> 
                        </div>
                        <div class="form-group">
                            <input type="text" name="stock" class="form-control" placeholder="stock"> 
                        </div>
                        <div class="form-group">
                            <input type="submit"  class=" btn btn-success"> 
                        </div>
                    </form>
        
            </div>

            
        <div class="row">
            <div class="col-md-6 mt-4 text center">
                <table class="table table-stripped">
                    <tr>
                        <th>ID ARTICULO</th>
                        <th>DESCRIPCION</th>
                        <th>PRECIO</th>
                        <th>STOCK</th>
                        <th>OPCIONES</th>
                    </tr>
                    <%for (var i=0; i< products.length; i++) {%>
                    <tr>
                        <td><%= products[i].id%></td>
                        <td><%= products[i].descripcion%></td>
                        <td><%= products[i].precio%></td>
                        <td><%= products[i].stock%></td>
                        <td>
                            <a href="/update/<%= products[i].id %>" class="btn btn-info">Editar</a>
                            <a href="/delete/<%= products[i].id %>" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    <%}%>

            </table>
        </div>

     </div>
    </div>

</body>

</html>