<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Inventario</title>
    <style>div.div3 {
            height: 425px;
            overflow: hidden;
            position: right;
        }</style>
</head>

<body>

    <nav class="navbar navbar-dark bg-primary">
        <a href="" class="navbar-brand mx-auto"><h2>Inventario</h2></a>
    </nav>

    <br>

    <div class="container">


                    <div class="row">
                            <div class="col-md-6 ">
                                    <form action="/products" method="post">
                                        <h4 class="card-title">Nuevo Articulo</h4>
                                        <div class="form-group">
                                            <input type="text" name="descripcion" class="form-control" placeholder="descripcion"> 
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="precio" class="form-control" placeholder="precio"> 
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="stock" class="form-control" placeholder="stock"> 
                                        </div>
                                        <div class="form-group">
                                            <input type="submit"  class=" btn btn-success"> 
                                        </div>
                                    </form>
                            </div>
                            <div class="col-md-6">
                                    <img src="https://userscontent2.emaze.com/images/731a55c1-9574-46e8-944e-f880bdbf4542/dc74b051dae64cedf4ad676cbfb7f850.png" width="300" height="300">
                            </div>
                          </div>


           

            

        <div class="row">
            <div class="col-md-13 mt-4 text center">
                    <h4 class="card-title">Listado de articulos</h4>
                <table class="table table-stripped">
                    <tr>
                        <th>ID ARTICULO</th>
                        <th>DESCRIPCION</th>
                        <th>PRECIO</th>
                        <th>STOCK</th>
                        <th>OPCIONES</th>
                    </tr>
                    <%for (var i=0; i< products.length; i++) {%>
                    <tr>
                        <td><%= products[i].id%></td>
                        <td><%= products[i].descripcion%></td>
                        <td><%= products[i].precio%></td>
                        <td><%= products[i].stock%></td>
                        <td>
                            <a href="/update/<%= products[i].id %>" class="btn btn-info">Editar</a>
                            <a href="/delete/<%= products[i].id %>" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    <%}%>

            </table>
        </div>






        
     </div>
    </div>

</body>

</html>